 
 <ion-tabs>
 
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" [class.selected]="selectedTab === 'home'" (click)="selectTab('home')">
    <ion-icon [color]="selectedTab === 'home' ? 'primary' : 'medium'" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="add" [class.selected]="selectedTab === 'add'" (click)="selectTab('add')">
    <ion-icon [color]="selectedTab === 'add' ? 'primary' : 'medium'" name="add-circle"></ion-icon>
    <ion-label>Add</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="list" [class.selected]="selectedTab === 'list'" (click)="selectTab('list')">
    <ion-icon [color]="selectedTab === 'list' ? 'primary' : 'medium'" name="list"></ion-icon>
    <ion-label>List</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="therapist-list" [class.selected]="selectedTab === 'therapist-list'" (click)="selectTab('therapist-list')">
    <ion-icon [color]="selectedTab === 'therapist-list' ? 'primary' : 'medium'" name="people"></ion-icon>
    <ion-label>Therapist List</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>